/*-------------------------------------*/
/*---------#MAIN  INDEX.HTML-----------*/
/*-------------------------------------*/

/*NAVEGADORES QUE NO SOPORTEN GRID*/

.main__carousel {
  width: 90%;
  height: auto;
  margin: auto;
}

/*NAVEGADORES QUE SOPORTEN GRID*/

@supports (display:grid) {
  .main-index {
    display: grid;
    max-width: none;
    padding: 0;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto;

    @media (max-width: 576px) {
      grid-template-columns: 1fr 12fr 1fr;
    }
  }

  .main-index__carousel {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: center;
  }

  .main-index__slogan {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
  }

  .carousel-item__img {
    vertical-align: middle;
  }
}




/*-------------------------------------*/
/*------#MAIN  COMPONENTES.HTML--------*/
/*-------------------------------------*/

/*NAVEGADORES QUE NO SOPORTEN FLEX*/

.main-h1 {
  clear: both;
  padding-bottom: 30px;
}

.miembro__h4 {
  @media (max-width: 576px) {
    font-size: 1.25em;
  }
}

.miembro__h5 {
  font-weight: normal;

  @media (max-width: 576px) {
    font-size: 1em;
  }
}


/*NAVEGADORES QUE SOPORTEN FLEX*/

@supports (display:flex) {
  .main-componentes {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .miembro {
    flex: none;
    width: 33.33%;
  }

  .miembro__img {
    width: 80%;
    height: auto;
  }

}




/*-------------------------------------*/
/*---------#MAIN  GALERÍA.HTML----------*/
/*-------------------------------------*/
.main-galeria__imagenes .button {
  border: none;
}
