/*NAVEGADORES QUE NO SOPORTEN GRID*/
.footer {
  padding-top: 30px;
  background-color: #77867085;
  min-width: 100%;
  min-height: 200px;
  padding-bottom: 30px;

  /*uso de mixin*/
  @include border-radius(10px);

  @media (max-width: 576px) {
    min-height: 300px;
  }
}

.footer__logo {
  margin: auto;
  float: left;

  @media (max-width: 576px) {
    float: none;
  }
}

.footer__nav {
  display: inline-block;
  margin: auto;

}

.footer__redes {
  float: right;
  margin: auto;

  @media (max-width: 576px) {
    float: none;
  }
}



/*NAVEGADORES QUE SOPORTEN GRID*/
@supports (display:grid) {
  /*-------------------------------------*/
  /*--------------#FOOTER----------------*/
  /*-------------------------------------*/

  .footer {
    display: grid;
    max-width: none;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto;

    @media (max-width: 576px) {
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: auto auto auto auto;
    }
  }

  .footer__contacto {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
  }

  .footer__logo {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    align-self: center;

    @media (max-width: 576px) {
      grid-column: 1 / 4;
      grid-row: 2 / 2;
    }
  }

  .footer__nav {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;

    @media (max-width: 576px) {
      grid-column: 1 / 4;
      grid-row: 3 / 3;
    }
  }

  .footer__redes {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    justify-self: end;
    align-self: center;

    @media (max-width: 576px) {
      grid-column: 1 / 4;
      grid-row: 4 / 4;
    }
  }


}
