/*NAVEGADORES QUE NO SOPORTEN GRID*/
/*-------------------------------------*/
/*--------------#MAIN  INDEX.HTML------------------*/
/*-------------------------------------*/
.main__carousel {
  width: 90%;
  height: auto;
  margin: auto;
}

.carousel-control-prev {
  padding-left: 50px;
}

.carousel-control-next {
  padding-right: 50px;
  ;
}

/*-------------------------------------*/
/*---------#MAIN  COMPONENTES.HTML----------*/
/*-------------------------------------*/

.main-h1 {
  clear: both;
  padding-bottom: 30px;
}

/*NAVEGADORES QUE SOPORTEN GRID*/

@supports (display:grid) {

  /*-------------------------------------*/
  /*--------------#MAIN  INDEX.HTML------------------*/
  /*-------------------------------------*/

  .main-index {
    display: grid;
    max-width: none;
    padding: 0;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto auto;
  }

  .main-index__carousel {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: center;
  }

  .carousel-item__img {
    vertical-align: middle;
  }

  .main-index__slogan {
    grid-column: 2 /3;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
  }
}

@supports (display:grid) {

  /*-------------------------------------*/
  /*---------#MAIN  COMPONENTES.HTML----------*/
  /*-------------------------------------*/
  .main-componentes {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .miembro {
    flex: none;
    width: 33.33%;
  }

  .miembro__img {
    width: 50%;
    height: auto;
  }

}



/*-------------------------------------*/
/*---------#MAIN  GALERÍA.HTML----------*/
/*-------------------------------------*/
.main-galeria__imagenes .button {
  border: none;
}
